cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}
.container{
    display: flex;
    align-items: center;
}
@media screen and (min-width: 820px) {
}
@media screen and (min-width: 1024px) {
        }
header
{
    .container__imagem,.container__frase{
        padding: 1em;
    }
    .container__titulo,.container__frase{
        display: none;
    }
   
}
 @media screen and(min-width: 820px) {
        .container__titulo, .container__titulo--negrito{
            font-size: 30px;
        }
        .container__titulo{
            font-weight: 400;
            display:block;
        }
     }

